:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* PRIMARY */
  --color-primary: #22396B;
  --color-primary-light: #E1E8EC;
  /* SECONDARY */
  --color-secondary: #FAB900;
  --color-secondary-alt: #FFC570;
  --color-secondary-green: #4FC3AE; /* Asumido de la imagen */
  /* NEUTRAL */
  --color-neutral-dark: #0C0C20;
  --color-neutral-light: #F6FAF9;
}

.p-button {
  background: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: #fff !important;
}
.p-button:enabled:hover,
.p-button:enabled:active,
.p-button:focus {
  background: var(--color-secondary) ;
  border-color: var(--color-secondary) ;
  color: var(--color-neutral-dark) ;
}
.p-button:disabled,
.p-button.p-disabled {
  background: var(--color-primary-light) ;
  border-color: var(--color-primary-light) ;
  color: #b1b6bd ;
}

#app {
  margin-top: 120px;
}

.card, .register-card, .login-card, .centered-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;  /* centra hijos horizontal */
  justify-content: center; /* centra hijos vertical, si das height */
  min-width: 340px;
  max-width: 540px;
  border-radius: 14px;
  padding: 2.5rem 2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
